@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

:root {
  --color-black: #000000;
  --color-dark: #05364d;
  --color-primary: #133eb3;
  --color-secondary: #f9f871;
  --color-tertiary: #f9f871;
  --color-text: #f9f871;
  --color-background: #fffbfa;
}

body {
  margin: 0;
}