---
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../components/Logo.astro";
import SideMenu from "../components/SideMenu.astro";
---
<BaseLayout>
	<div class="container-1">
		<SideMenu />
		<Logo />
	</div>
</BaseLayout>

<style>
	.container-1 {
		position: relative;
		flex-grow: 1;
		padding: 100px;
	}
</style>