---
import BaseLayout from "../layouts/BaseLayout.astro";
import Logo from "../components/Logo.astro";
import SideMenu from "../components/SideMenu.astro";
import { Image } from "astro:assets";
import Flash from "../components/images/flash-sheets/flashsheet1.png";
---
<BaseLayout>
	<div class="container-1">
		<SideMenu />
		<Logo />
		<Image src={Flash} alt="Flash" width={700} style="margin-top: 20px;"/>
	</div>
</BaseLayout>

<style>
	.container-1 {
		position: relative;
		flex-grow: 1;
		padding: 100px;
	}
</style>