<script>
    const logoText = document.getElementById('logo-text');
    if (logoText) {
        const string = "Nats Tats.";
        let idx = 0;
        const interval = setInterval(() => {
            if (idx >= string.length) {
                clearInterval(interval);
                return;
            }
            logoText.innerHTML += string[idx];
            idx++;
        }, 100);
    }
</script>

<div class="logo-container">
    <h1 id="logo-text" />
</div>

<style>
    .logo-container {
        position: relative;
        bottom: 0;
        right: 0;
    }

	h1 {
		line-height: 1;
		font-family: 'Fredericka the Great', Courier, monospace;
		font-size: 7rem;
		font-weight: 600;
        color: var(--color-black);
        margin: 0;
	}
</style>