<div class="logo-container">
    <h1>Nats Tats</h1>
</div>

<style>
    .logo-container {
        position: relative;
        bottom: 0;
        right: 0;
    }

	h1 {
		line-height: 1;
		font-family: 'Fredericka the Great', Courier, monospace;
		font-size: 7rem;
		font-weight: 600;
        color: var(--color-black);
        margin: 0;
	}
</style>