<nav>
    <ul>
        <li><a href="/flash">Flash</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/book">Book</a></li>
    </ul>
</nav>

<style>
    nav ul {
        font-family: 'Fredericka the Great', Courier, monospace;
        font-size: 3rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-weight: 600;
        text-align: right;
    }

    nav li a {
        text-decoration: none;
        color: var(--color-black);
    }

    nav li a:hover {
        color: #111;
    }
</style>