<nav>
    <ul>
        <li><a href="/">Flashes</a></li>
        <li><a href="/">Gallery</a></li>
        <li><a href="/">About</a></li>
        <li><a href="/">Contact</a></li>
        <li><a href="/">Book</a></li>
    </ul>
</nav>

<style>
    nav ul {
        font-family: 'Fredericka the Great', Courier, monospace;
        font-size: 3rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
        font-weight: 600;
        text-align: right;
    }

    nav li a {
        text-decoration: none;
        color: var(--color-black);
    }

    nav li a:hover {
        color: #111;
    }
</style>